// Using flex create a three row + 2 column inner layout
// Fill out the remaining styles

body {
  padding: 2em;
}

p {
  text-align: left;
}

.page-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.page-container > .row {
  flex: 1 100%;
  padding: 10px;
}

.row-header {
  background: tomato;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.button-bar {
  text-align: center;
}

.row-content {
  background: lightgrey;
  .col {
    padding: 10px;
  }
}

.row-footer {
  background: lightgreen;
  text-align: center;
}

.col-left {
  background: gold;
}

.col-right {
  background: deepskyblue;
}

@media all and (min-width: 800px) {
  .button-bar {
    text-align: right;
  }

  .row-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .row-content > .col {
    width: 50%;
  }
}
